<template>
  <section id='app' class='grid-container'>
    <section></section>
    <section class='main-body'>
     <NavBar></NavBar>
     <!--this component changes depending on what route is shown and which component is attached to that route --> 
     <router-view></router-view>
     <Footer></Footer>
    </section>
    <section></section>
  </section>
</template>

<script>
//import shared navbar and footer components 
import NavBar from './components/Shared/NavBar';
import Footer from './components/Shared/Footer';
export default {
  components: {
    'NavBar': NavBar,
    'Footer': Footer
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Montserrat Alternates';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A3B34;
}
p {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #0095CE;
  text-decoration: none;
}
body {
  background-image: url('./assets/pawbackground.jpg');
  margin: 0;

}
.main-body{
  background-color: white;
  min-height: 100vh;
}
.grid-container{
   display: grid;
  grid-template-columns: 20% auto 20%;
}
</style>
