<template>
<!--shared footer section -->
  <footer>
    <section class='orangediv'></section>
    <section class='mainFooter'>
      <p>Created By Jake Leigh</p>
    </section>
  </footer>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
footer{
  bottom: 0;
  width: 100%;
}
.orangediv{
  background-color:#EB7859;
  width: 100%;
  height: 10px;
}
.mainFooter{
  width: 100%;
  height: 100%;
  background-color: #0095CE;
}
p{
  margin: 0;
  padding: 1.5rem;
  text-align: center;
  color: white;
  font-weight: 700;
}
</style>