<template>
<header>
  <!--shared navbar component -->
  <nav role='navigation'>
    <ul>
      <img class='logo' src='../../assets/logo.svg'/>
      <li><a class='top-level-link' href="/">Home</a></li>
      <li><a class='top-level-link' href="/about-us">About Us</a>
        <ul class='dropdown'>
          <li><a class='low-level-link' href='/about-us/meet-the-team'>Meet The Team</a></li>
        </ul>
      </li>
      <li><a class='top-level-link' href="/services">Services & Cost</a></li>
      <li><a class='top-level-link' href="/gallery">Gallery</a></li>
      <li><a class='top-level-link' href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>
    
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
.logo{
  width: 13%;
  margin-right: 0px;
}
ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
li {
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: #4A3B34;
  padding: 8px;
}
.top-level-link:hover, .top-level-link:active, .top-level-link:focus{
  text-decoration: none;
  color: white;
  background-color: #0095CE;
  border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  display: none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover  {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
.low-level-link:hover, .low-level-link:active, .low-level-link:focus{
  background-color: #3FAAD3;
  color: #4A3B34;
    border-radius: 3px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.low-level-link{
   background-color: #3FAAD3;
  color: #4A3B34;
    border-radius: 3px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
</style>