<template>
  <section>
    <!--Text section on left -->
    <section class='home-hero'>
      <section class='animated slideInLeft'>
        <h1 class='heroTitle'>About Us</h1>
       <p>Doggie walks are committed to ensuring that your pet is safe,<br /> healthy and active. Our canine friends should feel different terrain<br />  under their paws, hear different sounds and see different sights<br />  and have a decent sniff about!</p>
         <p>While dogs need daily exercise in order to stay healthy, for many<br /> people it’s not always possible to walk their pets regularly. <br /> That’s why we established Doggie Walks, to help people across<br /> Lancashire and Merseyside ensure their dogs live happy lives.</p>
      </section>
      <!-- image section on right of text-->
      <section class='animated slideInRight'>
      <img class='heroImage' src='../assets/dogholdinghand.jpg' alt='dog and walker holding hands'/>
      </section>
    </section>
    <main>
      <section class='animated slideInLeft'>
        <img class='aboutImage' src='../assets/photo-1520103758300-2e22aee53ead.jpg' alt='dog walker'/>
      </section>
      <aside class='animated slideInRight'>
        <h2>How It Works</h2>
        <p>Your dog will be collected from your home and taken to a local park<br /> for a walk with their pals. Exercise, mental stimulation, socialisation<br /> and play make for a happier, calmer and more contented dog. </p>
         <p>With a maximum of 4 dogs per walk you can be sure that your best<br /> friend is getting all the attention they deserve.</p>
         <p>However, we also accept drop-offs at your nearest local branch. You<br/> can find out more about where your nearest branch is via our<br /> <a href='/contact-us'>contact page.</a> </p>
      </aside>
    </main>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.heroTitle{
  color: #0095CE;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

  .heroImage{
    width: 70%;
    border: 10px solid white;
    margin-left: 3em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(4.09deg);
  }
  main {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }
  .aboutImage{
    width: 60%;
    border: 10px solid white;
    margin-left: 3em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(-3.73deg);
  }
  h2{
    color: #0095CE;
    font-size: 24px;
    font-weight: 700;
  }
  </style>