<template>
  <section>
    <!-- page hero-->
    <section class='home-hero animated slideInLeft'>
      <section>
        <h1 class='heroTitle'>Contact Us</h1>
       <p>We have a wide variety of daycare facilities, listed below is all our locations and their address’. </p>
       <p>Feel free to pop in or fill out the form below.</p>
      </section>
    </section>
    <main>
      <!-- form section-->
      <section class='form animated slideInLeft'>
        <form>
          <fieldset class='namesection'>
            <label>Name*</label>
            <input class='halflength' type='text' required/>
            <input class='halflength' type='text' required/>
          </fieldset>
          <br />
          <fieldset class='namesection'>
            <label>Email Address*</label>
            <input type='email' required/>
          </fieldset>
          <br />
          <fieldset class='namesection'>
            <label>Phone Number*</label>
            <input type='telephone' required/>
          </fieldset>
          <br />
          <fieldset class='namesection'>
            <label>Postcode</label>
            <input type='text'/>
          </fieldset>
           <br />
          <fieldset class='namesection'>
            <label>Message*</label>
            <textarea type='text'/>
          </fieldset>
          <br />
          <button class='submitForm'>Submit</button>
        </form>
      </section>
      <!--aside image -->
      <aside class='animated slideInRight'>
        <img class='formimage' src='../assets/pexels-photo-165227.jpg' alt='image of french bulldog'/>
      </aside>
    </main>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.heroTitle{
  color: #0095CE;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

  .heroImage{
    width: 70%;
    border: 10px solid white;
    margin-left: 3em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(4.09deg);
  }
  main {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 1rem;
    padding-right: 5rem;
    padding-bottom: 1.5rem;
  }
  .formimage{
    width: 100%;
    border: 10px solid white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  fieldset{
    border: none;
    margin: 0;
    padding: 0;
  }
  .namesection{
    width: 100%;
  }
  .halflength{
    width: 40%;
  }
  label{
    display: block;
    padding-bottom: .5rem;
  }
  input{
  background: #FAFAFA;
  border: 0.8px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  height: 30px;
  font-size: 16px;
  margin-right: .5em;
 font-family: 'Montserrat Alternates';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A3B34;
  width: 82%;
  }
  textarea{
     background: #FAFAFA;
  border: 0.8px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
  height: 200px;
  font-size: 16px;
  margin-right: .5em;
 font-family: 'Montserrat Alternates';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A3B34;
  width: 82%;
  }
  form {
    position: relative;
  }
  .first-nameSpan{
    position: absolute;
    left: 0;
    bottom: -25px;
    font-size: 14px;
  }
    .last-nameSpan{
    position: absolute;
    left: 265px;
    bottom: -25px;
    font-size: 14px;
  }
  .submitForm{
    background-color: #0095CE;
      color: white;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 800;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  }
  </style>