<template>
  <section>
    <!-- page hero -->
    <section class='home-hero animated slideInLeft'>
      <section>
        <h1 class='heroTitle'>Gallery</h1>
        <p>Every week is a busy week! Checkout how much fun our guests have within our day care centers.</p>
        <p>All photos have been taken with the consent of every owner.</p>
      </section>
      <section></section>
    </section>
    <!-- main section containing gallery-->
    <main>
      <section class="gallerySection">
        <figure class='gallery-figure figure-1'>
          <img class='gallery-image' src='../assets/pexels-photo-350428.jpg' alt='german shepard'/>
        </figure>
        <figure class='gallery-figure figure-2'>
          <img class='gallery-image' src='../assets/pexels-photo-165227.jpg' alt='french bulldog'/>
        </figure>
        <figure class='gallery-figure figure-3'>
        <img class='gallery-image' src="../assets/dog-animal-pet-german-longhaired-pointer.jpg" alt='long haired pointer' />
        </figure>
        <figure class='gallery-figure figure-4'>
          <img class='gallery-image' src='../assets/pexels-photo-264005.jpg' alt='dog jumping on grass'/>
        </figure>
        <figure class='gallery-figure figure-5'>
        <img class='gallery-image' src='../assets/dogholdinghand.jpg' alt='dog holding hand'/>
        </figure>
        <figure class='gallery-figure figure-6'>
          <img class='gallery-image' src="../assets/dog-black-labrador-black-dog-162149.jpg" alt='black labrador'/>
        </figure>
        <figure class='gallery-figure figure-7'>
          <img class='gallery-image' src='../assets/dog-cavalier-king-charles-spaniel-funny-pet-162193.jpg' alt='king charles spaniel'/>
        </figure>
        <figure class='gallery-figure figure-8'>
          <img class='gallery-image' src='../assets/pexels-photo-58997.jpg' alt='dog walking to camera'/>
        </figure>
        <figure class='gallery-figure figure-9'>
        <img class='gallery-image' src='../assets/pexels-photo-283012.jpg' alt='dog looking up at camera'/>
        </figure>
        <figure class='gallery-figure figure-10'>
          <img class='gallery-image' src='../assets/photo-1520103758300-2e22aee53ead.jpg' alt='dog walker'/>
        </figure>
        <figure class='gallery-figure figure-11'>
        <img class='gallery-image' src='../assets/pexels-photo-976924.jpg' alt='sitting dog looking away'/>
        </figure>
        <figure class='gallery-figure figure-12'>
        <img class='gallery-image' src='../assets/pexels-photo-1487665.jpg' alt='dog looking at camera'/>
        </figure>
        <figure class='gallery-figure figure-13'>
        <img class='gallery-image' src='../assets/photo-1494947665470-20322015e3a8.jpg' alt='group of dogs on walk'/>
        </figure>
        <figure class='gallery-figure figure-14'>
         <img class='gallery-image' src='../assets/dog-young-dog-puppy-59965.jpg' alt='black puppy loking at camera'/>
        </figure>
        <figure class='gallery-figure figure-15'>
        <img class='gallery-image' src='../assets/photo-1531388185832-f111bb261e01.jpg' alt='dog in woods looking away from camera'/>
        </figure>
      </section>
    </main>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 60% 40%;
}
.heroTitle{
  color: #0095CE;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.gallerySection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 1px;
  padding: 1rem;
}
.gallery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.figure-1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.figure-2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}
.figure-3{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}
.figure-4{
   grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
.figure-6 {
  grid-column-start: 3;
  grid-column-end: 5;
   grid-row-start: 6;
  grid-row-end: 7;
}
.figure-8{
  grid-column-start: 2;
  grid-column-end: 5;
   grid-row-start: 7;
  grid-row-end: 8;
}
.figure-9{
   grid-column-start: 1;
  grid-column-end: 3;
   grid-row-start: 8;
  grid-row-end: 10;
}
figure{
  margin: .2rem;
}
.figure-10{
   grid-column-start: 3;
  grid-column-end: 4;
   grid-row-start: 8;
  grid-row-end: 11;
}
.figure-13{
   grid-column-start: 1;
  grid-column-end: 3;
   grid-row-start: 11;
  grid-row-end: 12;
}
.figure-15{
     grid-column-start: 3;
  grid-column-end: 5;
   grid-row-start: 11;
  grid-row-end: 12;
}
.figure-11{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 10;
}
.figure-14{
  grid-column-start: 4;
  grid-column-end: 5;
   grid-row-start: 8;
  grid-row-end: 10;
}
  </style>