<template>
  <section>
    <!-- page hero-->
    <section class='home-hero'>
      <section class='animated slideInLeft'>
        <h1 class='heroTitle'>Welcome To<br /> Doggie Walks!</h1>
        <h2 class='heroSubTitle'>Helping our animal friends one paw<br /> at a time</h2>
        <h3 class='heroText'>We are committed to providing professional and<br/> personal care to your beloved four-legged friends.</h3>
        <a href='/contact-us' class='heroButton'>Book now</a>
      </section>
      <section>
      <img class='heroImage animated slideInRight' src='../assets/dog-animal-pet-german-longhaired-pointer.jpg' alt='long haired german pointer'/>
      </section>
    </section>
    <!-- main section-->
    <main>
      <section class='animated slideInLeft'>
        <p>We are based in Ormskirk we offer exciting and stimulating walks all over the beautiful Lancashire and Merseyside countryside. We guarantee your dog will come home tired and content.</p>
        <p>We recognise every dog’s needs are different and how busy daily life can be. <br /> With <a href='/services'>services</a> starting from only £10 we ensure you the best possible service <br /> to suit the needs of both you and your pooch.</p>
        <p>We are also fully insured for everybody’s <br /> peace of mind, for more information on this please <a href='/contact-us'>contact us</a> or<br /> email at <a href="mailto:info@doggiewalks.co.uk" target="_top">info@doggiewalks.co.uk</a></p>
        <p>We also offer different services such as:</p>
        <ul>
          <li class='mainList'><img class='pawImg' src='../assets/paw.svg' alt='small brown paw image'/>Pet Sitting (Puppy and Elderly)</li>
           <li class='mainList'><img class='pawImg' src='../assets/paw.svg' alt='small brown paw image/'>Small pet visits</li>
            <li class='mainList'><img class='pawImg' src='../assets/paw.svg' alt='small brown paw image'/>Overnight Pet Sitting</li>
        </ul>
      </section>
      <!-- aside section-->
      <aside class='animated slideInRight'>
        <section class='areasDiv'>
          <h1 class='areasTitle'>Areas We Cover</h1>
          <ul>
            <li class='areasList'><img class='areasPawImg' src='../assets/paw.svg' alt='small brown paw image'/>Ormskirk</li>
            <li class='areasList'><img class='areasPawImg' src='../assets/paw.svg' alt='small brown paw image'/>Southport</li>
            <li class='areasList'><img class='areasPawImg' src='../assets/paw.svg' alt='small brown paw image'/>Preston</li>
            <li class='areasList'><img class='areasPawImg' src='../assets/paw.svg' alt='small brown paw image'/>Liverpool</li>
            <li class='areasList'><img class='areasPawImg' src='../assets/paw.svg' alt='small brown paw image'/>Warrington</li>
        </ul>
        </section>
      </aside>
    </main>
  </section>
</template>

<script>
export default {

}

</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.heroTitle{
  color: #0095CE;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.heroSubTitle{
  color: #73B5FF;
  font-size: 22px;
  font-weight: 800;
}
.heroText{
  color: #4A3B34;
  font-size: 16px;
  font-weight: 700;
    padding-bottom: 2rem;
}
.heroButton{
  background-color: #EB7859;
  color: white;
  padding: 10px 40px 10px 40px;
  font-size: 20px;

  border-radius: 5px;
  font-weight: 800;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  }
  .heroImage{
    width: 80%;
    border: 10px solid white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(4.09deg);
  }
  main {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 1rem;
  }
  .mainList {
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
  }
  .pawImg{
    width: 2%;
    margin-right: 10px;
  }
  .areasDiv{
    background-image: url('../assets/map.png');
    background-color: #B7EBFF;
    background-size: cover;
    background-repeat: no-repeat;
    width: 270px;
    height: 350px;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 10px;
     -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .areasTitle{
    font-size: 26px;
    font-weight: 800;
    margin: 0;
  }
  .areasList{
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
  }
  .areasPawImg{
    width: 7%;
    margin-right: 10px;
  }
  </style>