<template>
  <section>
    <!-- page hero -->
    <section class='home-hero animated slideInLeft'>
      <section>
        <h1 class='heroTitle'>Meet The Team</h1>
       <p>Meet the doggie walks team! We’re fully trained and insured to work with animals and are committed to the<br /> health and benefits of your pet. </p>
        <p>We aim to keep providing the best knowledge regarding dogs as we can, and to do this we believe you cannot sit still in this<br /> occupation as we learn more about dogs daily. </p>
        <p>We ensure that our knowledge is kept up-to-date by attending regular seminars and courses presented by well-respected<br/> canine trainers, behaviorists and practitioners.</p>
      </section>
    </section>
    <!--main section containing team images and breif description -->
    <main class='animated slideInUp'>
      <section class='teamSection'>
        <figure class='team-figure figure-1'>
          <section class='team-section'>
          <img class='team-image' src='../assets/team/lori-hanson.jpg' alt='team member images'/>
          <h2>Lori Hanson</h2>
          <h3>Founder of Doggie<br /> Walks</h3>
          </section>
        </figure>
        <figure class='team-figure figure-2'>
          <section class='team-section'>
          <img class='team-image' src='../assets/team/gary-simpson.jpg' alt='team member images'/>
          <h2>Gary Simpson</h2>
          <h3>Team Manager</h3>
          </section>
        </figure>
        <figure class='team-figure figure-3'>
          <section class='team-section'>
          <img class='team-image' src='../assets/team/rebecca-harrison.jpg' alt='team member images'/>
          <h2>Rebecca Harrison</h2>
          <h3>Professional<br /> dog walker</h3>
          </section>
        </figure>
        <figure class='team-figure figure-4'>
          <section class='team-section'>
          <img class='team-image' src='../assets/team/joanna-davies.jpg' alt='team member images'/>
          <h2>Joanna Davies</h2>
          <h3>Professional<br /> dog walker</h3>
          </section>
        </figure>
      </section>
    </main>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
}
.heroTitle{
  color: #0095CE;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
 main {
  display: grid;
  grid-template-columns: 100%;
  padding: 1rem;
  padding-bottom: 1.5rem;
  }
// .top-row-team{
//  display: grid;
//  grid-template-columns: 43% auto 43%;
// }
// .bottom-row-team{
//   display: grid;
//   padding-top: 1rem;
//   grid-template-columns: 39.5% 39.5% 39.5%;
//   margin-left: 10rem;
//   margin-right: 10rem;
//   justify-content:space-between;
// }
// .team-div{
//   background-color: white;
//   -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//   -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//   -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//   -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//   padding: 2rem;
// }
// .team-image{
//   height: 150px;
// }
.teamSection{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 7vw);
  grid-gap: 10px;
  padding: 1rem;
}
.team-image{
  height: 150px;
}
.figure-1{
   grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
}

.figure-2{
   grid-column-start:1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
    justify-self: center;
}
.figure-3{
   grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
    justify-self: center;
}

.figure-4{
   grid-column-start:2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
    justify-self: center;
}
.team-section{
   background-color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: .5rem;
  height: 220px;
}
.team-section h2 {
  color: #0095CE;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
.team-section h3 {
  color: #3FAAD3;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

</style>