<template>
  <section>
    <!--page hero-->
    <section class='home-hero'>
      <section class='animated slideInLeft'>
        <h1 class='heroTitle'>Services and Cost</h1>
       <p>Your dog shall receive the full-length time it deserves. Check for your local branch and pop in if you’re unsure which service is right for you. <br />
Every dog is unique, meaning that every dog deserves our full attention 7 days a week.</p>
      </section>
      <section class='animated slideInRight'>
      <img class='heroImage' src='../assets/dog-cavalier-king-charles-spaniel-funny-pet-162193.jpg' alt='image of cavalier king charles spaniel'/>
      </section>
    </section>
    <main>
      <!-- main services section containing three sections for each of the services provided-->
      <section class='servicesSection'>
        <section class='serviceDiv animated slideInLeft'>
          <section class='serviceImageDiv'>
            <img src='../assets/pexels-photo-283012.jpg' alt='dog looking up at camera'/>
          </section>
          <section class='serviceInfoDiv'>
            <h2>Dog Walking</h2>
            <ul>
              <li>- Duration: 1 hour (enquire for more)</li>
              <li>- Not all dogs enjoy group walks, therefore we provide two different<br /> services. Solo or group, discover which option is best for your dog.</li>
            </ul>
          </section>
          <section class='servicePriceDiv'>
            <section class='servicePrice'>
              <h3 class='servicePriceText'>£12/h</h3>
            </section>
          </section>
        </section>
        <section class='serviceDiv animated slideInRight'>
          <section class='serviceImageDiv'>
            <img src='../assets/pexels-photo-350428.jpg' alt='german shepard'/>
          </section>
                  <section class='serviceInfoDiv'>
            <h2>House calls</h2>
            <ul>
              <li>- Duration: 1 hour (enquire for more)</li>
              <li>- Need your dog looking after while you’re not home? This service allows you to have peace of mind while we ensure that your dog has the attention and care it deserves.</li>
            </ul>
          </section>
          <section class='servicePriceDiv'>
            <section class='servicePrice'>
              <h3 class='servicePriceText'>£15/h</h3>
            </section>
          </section>
        </section>
        <section class='serviceDiv animated slideInLeft'>
          <section class='serviceImageDiv'>
            <img src='../assets/pexels-photo-1487665.jpg' alt='dog looking at camera'/>
          </section>
                  <section class='serviceInfoDiv'>
            <h2>Day care</h2>
            <ul>
              <li>- Duration: 8 hours per day</li>
              <li>- Our professional day care centers provide the most up to date and clean facilities which ensures that your dog is safe, protected and healthy. This will cover all services from feeding, bathing walking and sleeping.</li>
            </ul>
          </section>
          <section class='servicePriceDiv'>
            <section class='servicePrice'>
              <h3 class='servicePriceText'>£60/h</h3>
            </section>
          </section>
        </section>
      </section>
    </main>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home-hero{
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.heroTitle{
  color: #0095CE;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

  .heroImage{
    width: 70%;
    border: 10px solid white;
    margin-left: 3em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(4.09deg);
  }
  .servicesSection{
    display: grid;
    padding: 1rem;
  }
  .serviceDiv{
    background-color: white;
    height: 250px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: grid;
    grid-template-columns: 30% 60% 10%;
  }
.serviceInfoDiv{
  padding: 1rem;
}
.serviceImageDiv img {
  height: 250px;
  width: 100%;
}
.serviceInfoDiv h2 {
   color: #0095CE;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}
.serviceInfoDiv li {
  font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 10px;
}
.servicePriceDiv{
  display: grid;
  grid-template-rows: 100%;
  height: 250px;
}
.servicePrice{
  background-color: #EB7859;
  align-self: end;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px 0px 0px 0px;

  }
  </style>